.cpcache/
.nrepl-port
target/
.lsp/
node_modules/
.DS_Store
*.swp
*.swo
*~
.idea/
.vscode/
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
