{:paths ["src"]
 :deps {io.github.kotoba-lang/jp-go-digital-design-system
        {:git/url "https://github.com/kotoba-lang/jp-go-digital-design-system"
         :git/sha "83db99546eabc53613ae826ea41d1533a3c574af"}
        io.github.kotoba-lang/langgraph
        {:local/root "../../kotoba-lang/langgraph"}}
 :aliases
 {:dev {:override-deps
        {io.github.kotoba-lang/langchain
         {:local/root "../../kotoba-lang/langchain"}}}
  :run {:main-opts ["-m" "travelagencyops.sim"]}
  ;; clojure -M:dev:render-html [out-file] -> regenerate
  ;; docs/samples/operator-console.html by really running the actor.
  :render-html {:main-opts ["-m" "travelagencyops.render-html"]}
  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}
  :lint {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2024.11.14"}}
         :main-opts    ["-m" "clj-kondo.main"
                        "--lint" "src" "test"
                        "--fail-level" "error"]}}}
