{:kotoba.app/id "cloud.itonami.isic-791", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifedukjvha7m6y3iky4tb2kqfogoptzgq5nlwouioltdrppoot6za", :kotoba.app/embed-url "ipfs://bafkreifedukjvha7m6y3iky4tb2kqfogoptzgq5nlwouioltdrppoot6za", :published {:archive "https://kotobase.net/ipfs/bafkreifedukjvha7m6y3iky4tb2kqfogoptzgq5nlwouioltdrppoot6za", :size 72268, :put-status 201, :get-status 200, :at "2026-08-15T13:42:23.230Z"}}
